{% extends "base_admin.html" %}
{% block title %}Sửa lớp{% endblock %}

{% block content %}
<h3>Sửa lớp</h3>

<form method="post">
  <div class="mb-3">
    <label>Tên lớp</label>
    <input name="name"
           value="{{ class_obj.name }}"
           class="form-control"
           required>
  </div>

  <div class="mb-3">
    <label>Ngành</label>
    <select name="major_id" class="form-select">
      {% for m in majors %}
        <option value="{{ m.id }}"
          {% if class_obj.major_id == m.id %}selected{% endif %}>
          {{ m.name }} ({{ m.faculty.name }})
        </option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label>Khoá học</label>
    <select name="course_id" class="form-select" required>
      <option value="">-- Chọn khoá --</option>
      {% for c in courses %}
        <option value="{{ c.id }}"
          {% if class_obj and class_obj.course_id == c.id %}selected{% endif %}>
          {{ c.name }} ({{ c.start_year }})
        </option>
      {% endfor %}
    </select>
  </div>


  <button class="btn btn-success">Cập nhật</button>
  <a href="/admin/classes" class="btn btn-secondary">Quay lại</a>
</form>
{% endblock %}
