{% extends "base_auth.html" %}
{% block title %}Quên mật khẩu{% endblock %}

{% block content %}
<div class="container" style="max-width: 450px;">
  <h3 class="mb-3 text-center">🔐 Quên mật khẩu</h3>

  <form method="post">
    <div class="mb-3">
      <label>Mã số sinh viên</label>
      <input name="mssv" class="form-control" required>
    </div>

    <div class="mb-3">
      <label>Email đã đăng ký</label>
      <input type="email" name="email" class="form-control" required>
    </div>

    <button class="btn btn-primary w-100">Xác nhận</button>
  </form>

  <div class="text-center mt-3">
    <a href="/login">⬅ Quay lại đăng nhập</a>
  </div>
</div>
{% endblock %}
