{% extends "base_auth.html" %}
{% block title %}Đặt lại mật khẩu{% endblock %}

{% block content %}
<div class="container" style="max-width: 450px;">
  <h3 class="mb-3 text-center">🔁 Đặt lại mật khẩu</h3>

  <form method="post">
    <div class="mb-3">
      <label>Mật khẩu mới</label>
      <input type="password" name="password" class="form-control" required>
    </div>

    <div class="mb-3">
      <label>Xác nhận mật khẩu</label>
      <input type="password" name="confirm" class="form-control" required>
    </div>

    <button class="btn btn-success w-100">Lưu mật khẩu</button>
  </form>
</div>
{% endblock %}
